.topicos{
    background-color: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos-titulos{
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.topicos-listas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos-item a{
    color: var(--branco);
}
.topicos-item{
    margin: 2em 0.5em;

}
.topicos-links{
    color: var(--branco);/*cor do texto*/
    background-color: var(--laranja);/*cor de fundo*/
    text-decoration: none; /*decoraçao do texto*/
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
}